.react-utils-todo {
  background-color: 'black';
}
.quoin-react-utils-todo-item-adder {
  background-color: lightgray;
  padding: 40px 15px 15px 15px;
}
.quoin-react-utils-todo-task:nth-child(even) {
  background-color: ghostwhite;
}
.quoin-react-utils-todo-task > .row > div {
  padding-bottom: 15px;
  padding-top: 15px;
}
.quoin-react-utils-todo-task > .row > div.actions {
  text-align: right;
}
.quoin-react-utils-todo-task > .row > div.actions .glyphicon {
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
}
.quoin-react-utils-todo-task > .row > div.actions .glyphicon:first-child {
  padding-left: 0;
}
.quoin-react-utils-todo-task > .row > div.actions .glyphicon:last-child {
  padding-right: 0;
}
.quoin-react-utils-todo-task > .row > div:first-child {
  padding-left: 30px;
}
.quoin-react-utils-todo-task > .row > div:last-child {
  padding-right: 30px;
}
.quoin-react-utils-todo-tasks {
  background-color: whitesmoke;
}
